<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rewrite rule: Redirect non-existing files and directories -->
        <rule name="Rewrite to home.php">
          <match url="^([^/]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="home.php?page={R:1}" />
        </rule>

        <!-- Rewrite rule: msg -->
        <rule name="Rewrite to home.php with msg">
          <match url="^([^/]+)/msg/([^/]+)$" />
          <action type="Rewrite" url="home.php?page={R:1}&amp;res={R:2}" />
        </rule>

        <!-- Rewrite rule: del -->
        <rule name="Rewrite to home.php with del">
          <match url="^([^/]+)/del/([^/]+)$" />
          <action type="Rewrite" url="home.php?page={R:1}&amp;del={R:2}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Compression Settings -->
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\System32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/rss+xml" enabled="true" />
        <add mimeType="application/xhtml+xml" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <defaultDocument>
            <files>
                <add value="home.php" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>

